html,body{
  /*background:#333;*/
  background:url(bg.gif) fixed;
  height:100%;
  font-size:10px;
  margin:0;
  padding:0;
}
h1{
  font-size:2.8rem;
}
p,ul{
  font-size:1.8rem;
}
section#main{
  max-width:40rem;
  background:white;
  margin:0 auto;
  padding:1rem 3rem;
  padding-bottom:10rem;
  /*border:0.2rem solid #333;*/
  border:0.2rem solid #000;
  border-top:0;
}
ul{
  padding-inline-start:1.5rem;
}
a{
  color:blue;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
